@using OnlineArtGallery.Models.Entities;
@{ 
    GalleryArtEntities db = new GalleryArtEntities();

}

<div class="header-top">
    <div class="container">
        <div class="header-left">
            <a href="tel:#"><i class="icon-phone"></i>Call: +0123 456 789</a>
        </div><!-- End .header-left -->

        <div class="header-right">

            <ul class="top-menu">
                <li>
                    <a href="#">Links</a>
                    <ul class="dropdown-links">
                        @if (Session["UserId"] == null)
                        {
                            <li><a href="#signin-modal" data-toggle="modal">Sign in / Sign up</a></li>

                        }
                        else
                        {
                            <li><a href="">Welcome back, @Session["UserFName"]   </a>   | <a href="/FEAuth/Logout">   Logout</a></li>
                        }
                    </ul>
                </li>
            </ul><!-- End .top-menu -->
        </div><!-- End .header-right -->

    </div><!-- End .container -->
</div><!-- End .header-top -->

<div class="header-middle">
    <div class="container">
        <div class="header-left">
            <button class="mobile-menu-toggler">
                <span class="sr-only">Toggle mobile menu</span>
                <i class="icon-bars"></i>
            </button>

            @* LOGO *@
            <a href="/" class="logo">
                <img src="~/Content/assets/images/demos/demo-20/logo.png" alt="Molla Logo" width="105" height="25">
            </a>
        </div><!-- End .header-left -->

        <div class="header-right">
            <div class="header-search header-search-extended header-search-visible header-search-no-radius">
                <a href="#" class="search-toggle" role="button"><i class="icon-search"></i></a>
                <form action="#" method="get">
                    <div class="header-search-wrapper search-wrapper-wide">
                        <label for="q" class="sr-only">Search</label>
                        <input type="search" class="form-control" name="q" id="q" placeholder="Search product ..." required>
                        <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
                    </div><!-- End .header-search-wrapper -->
                </form>
            </div><!-- End .header-search -->


            <div class="header-dropdown-link">

                @* ACCOUNT *@
                <div class="account">
                    @if (Session["UserId"] != null)
                    {

                        <a href="/FEUser/UserProfile" title="My account">
                            <div class="icon">
                                <i class="icon-user"></i>
                            </div>
                            <p>Account</p>
                        </a>
                    }
                </div><!-- End .compare-dropdown -->
                @* WISHLIST *@
                <div class="wishlist">
                    <a href="/FEWishlist/Index" title="Wishlist">
                        <div class="icon">
                            <i class="icon-heart-o"></i>
                            @if (Session["UserId"] != null)
                            {
                                var id = int.Parse(Session["UserId"].ToString());
                                var wishlistCount = db.Favourites.Where(a => a.user_id == id).ToList().Count();
                                if(wishlistCount > 0)
                                {
                                    <span class="wishlist-count badge">@wishlistCount</span>

                                }
                            }

                        </div>
                        <p>Wishlist</p>
                    </a>
                </div><!-- End .compare-dropdown -->
                @* CART *@
                <div class="dropdown cart-dropdown">
                    <a href="/FEOrder/Cart" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static">
                        <div class="icon">
                            <i class="icon-shopping-cart"></i>
                            @if (Session["UserId"] != null)
                            {
                                var id = int.Parse(Session["UserId"].ToString());
                                var cartCount = db.Carts.Where(a => a.user_id == id).ToList().Count();
                                if(cartCount > 0)
                                {
                                    <span class="cart-count">@cartCount</span>

                                }
                            }
                           
                        </div>
                        <p>Cart</p>
                    </a>

                    <div class="dropdown-menu dropdown-menu-right">
                        <div class="dropdown-cart-products">
                        @if (Session["UserId"] != null)
                        {
                            var id = int.Parse(Session["UserId"].ToString());
                            var cartList = (from cart in db.Carts
                                        join artwork in db.Artworks on cart.artwork_id equals artwork.artwork_id
                                        where cart.user_id == id
                                        select new
                                        {
                                            Cart = cart,
                                            Artwork = artwork
                                        }).ToList();
                          

                            foreach (var cart in cartList)
                            {
                            <div class="product">
                                <div class="product-cart-details">
                                    <h4 class="product-title">
                                        <a href="/FEArtwork/ArtworkDetail/@cart.Artwork.artwork_id">@cart.Artwork.artwork_name </a>
                                    </h4>

                                    <span class="cart-product-info">
                                        <span class="cart-product-qty">1</span>
                                        x $ @cart.Artwork.artwork_price
                                    </span>
                                </div><!-- End .product-cart-details -->

                                <figure class="product-image-container">
                                    <a href="product.html" class="product-image">
                                        <img src="~/Content/assets/images/artwork/@cart.Artwork.artwork_image" alt="product">
                                    </a>
                                </figure>
                                <a href="/FEOrder/Delete/@cart.Cart.cart_id" class="btn-remove" title="Remove Product"><i class="icon-close"></i></a>
                            </div><!-- End .product -->

                            }

                        }

                        </div><!-- End .cart-product -->

                        <div class="dropdown-cart-total">
                            <span>Total</span>

                            <span class="cart-total-price">$160.00</span>
                        </div><!-- End .dropdown-cart-total -->

                        <div class="dropdown-cart-action">
                            <a href="/FEOrder/Cart" class="btn btn-primary">View Cart</a>
                            <a href="/FEOrder/Checkout" class="btn btn-outline-primary-2"><span>Checkout</span><i class="icon-long-arrow-right"></i></a>
                        </div><!-- End .dropdown-cart-total -->
                    </div><!-- End .dropdown-menu -->
                </div><!-- End .cart-dropdown -->
            </div>
        </div><!-- End .header-right -->
    </div><!-- End .container -->
</div><!-- End .header-middle -->

<div class="header-bottom sticky-header">
    <div class="container">
        <div style="background-color: #333; display: flex; width: 100%;">
            <div class="header-left">
                <div class="dropdown category-dropdown">
                    <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static" title="Browse Categories">
                        Browse Categories
                    </a>

                    <div class="dropdown-menu">
                        <nav class="side-nav">
                            <ul class="menu-vertical sf-arrows">
                                @{ 
                                    var cateList = db.Categories.ToList();
                                }
                                @foreach (var cate in cateList) { 
                                    <li class="item-lead"><a href="#">@cate.category_name</a></li>
                                }
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>

            <div class="header-center">

                <nav class="main-nav">
                    <ul class="menu sf-arrows">
                        <li class="megamenu-container active">
                            <a href="/" class="sf-with-ul">Home</a>

                            <div class="megamenu demo">
                                <div class="menu-col">
                                    <div class="menu-title">Choose your demo</div><!-- End .menu-title -->

                                    <div class="demo-list">
                                        <div class="demo-item">
                                            <a href="index-1.html">
                                                <span class="demo-bg" style="background-image: url(~/Content/assets/images/menu/demos/1.jpg);"></span>
                                                <span class="demo-title">01 - furniture store</span>
                                            </a>
                                        </div><!-- End .demo-item -->

                                        <div class="demo-item">
                                            <a href="index-2.html">
                                                <span class="demo-bg" style="background-image: url(~/Content/assets/images/menu/demos/2.jpg);"></span>
                                                <span class="demo-title">02 - furniture store</span>
                                            </a>
                                        </div><!-- End .demo-item -->

                                        <div class="demo-item">
                                            <a href="index-3.html">
                                                <span class="demo-bg" style="background-image: url(~/Content/assets/images/menu/demos/3.jpg);"></span>
                                                <span class="demo-title">03 - electronic store</span>
                                            </a>
                                        </div><!-- End .demo-item -->

                                        <div class="demo-item">
                                            <a href="index-4.html">
                                                <span class="demo-bg" style="background-image: url(~/Content/assets/images/menu/demos/4.jpg);"></span>
                                                <span class="demo-title">04 - electronic store</span>
                                            </a>
                                        </div><!-- End .demo-item -->

                                        <div class="demo-item">
                                            <a href="index-5.html">
                                                <span class="demo-bg" style="background-image: url(~/Content/assets/images/menu/demos/5.jpg);"></span>
                                                <span class="demo-title">05 - fashion store</span>
                                            </a>
                                        </div><!-- End .demo-item -->

                                        <div class="demo-item">
                                            <a href="index-6.html">
                                                <span class="demo-bg" style="background-image: url(~/Content/assets/images/menu/demos/6.jpg);"></span>
                                                <span class="demo-title">06 - fashion store</span>
                                            </a>
                                        </div><!-- End .demo-item -->

                                        <div class="demo-item">
                                            <a href="index-7.html">
                                                <span class="demo-bg" style="background-image: url(~/Content/assets/images/menu/demos/7.jpg);"></span>
                                                <span class="demo-title">07 - fashion store</span>
                                            </a>
                                        </div><!-- End .demo-item -->

                                        <div class="demo-item">
                                            <a href="index-8.html">
                                                <span class="demo-bg" style="background-image: url(~/Content/assets/images/menu/demos/8.jpg);"></span>
                                                <span class="demo-title">08 - fashion store</span>
                                            </a>
                                        </div><!-- End .demo-item -->

                                        <div class="demo-item">
                                            <a href="index-9.html">
                                                <span class="demo-bg" style="background-image: url(~/Content/assets/images/menu/demos/9.jpg);"></span>
                                                <span class="demo-title">09 - fashion store</span>
                                            </a>
                                        </div><!-- End .demo-item -->

                                        <div class="demo-item">
                                            <a href="index-10.html">
                                                <span class="demo-bg" style="background-image: url(~/Content/assets/images/menu/demos/10.jpg);"></span>
                                                <span class="demo-title">10 - shoes store</span>
                                            </a>
                                        </div><!-- End .demo-item -->

                                    </div><!-- End .demo-list -->

                                    <div class="megamenu-action text-center">
                                        <a href="#" class="btn btn-outline-primary-2 view-all-demos"><span>View All Demos</span><i class="icon-long-arrow-right"></i></a>
                                    </div><!-- End .text-center -->
                                </div><!-- End .menu-col -->
                            </div><!-- End .megamenu -->
                        </li>

                        <li>
                            <a href="#" class="sf-with-ul">Pages</a>

                            <ul>
                                <li>
                                    <a href="about.html" class="sf-with-ul">About</a>

                                    <ul>
                                        <li><a href="about.html">About 01</a></li>
                                        <li><a href="about-2.html">About 02</a></li>
                                    </ul>
                                </li>
                                <li><a href="login.html">Login</a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="blog.html" class="sf-with-ul">Blog</a>

                            <ul>
                                <li><a href="blog.html">Classic</a></li>
                                <li><a href="blog-listing.html">Listing</a></li>
                                <li>
                                    <a href="#">Grid</a>
                                    <ul>
                                        <li><a href="blog-grid-2cols.html">Grid 2 columns</a></li>
                                        <li><a href="blog-grid-3cols.html">Grid 3 columns</a></li>
                                        <li><a href="blog-grid-4cols.html">Grid 4 columns</a></li>
                                        <li><a href="blog-grid-sidebar.html">Grid sidebar</a></li>
                                    </ul>
                                </li>

                            </ul>
                        </li>

                        <li>
                            <a href="elements-list.html" class="sf-with-ul">Elements</a>

                            <ul>
                                <li><a href="elements-products.html">Products</a></li>

                            </ul>
                        </li>
                        <li>
                            <a href="/FEHome/About">About us</a>
                        </li>
                        <li>
                            <a href="/FEHome/Contact">Contact us</a>
                        </li>
                    </ul><!-- End .menu -->
                </nav><!-- End .main-nav -->
            </div>

            <div class="header-right">
                <i class="la la-lightbulb-o"></i><p>Clearance Up to 30% Off</p>
            </div><!-- End .header-right -->
        </div>
    </div><!-- End .container -->
</div><!-- End .header-bottom -->