@using OnlineArtGallery.Models.Entities;
@{
    ViewBag.Title = "ArtworkDetail";
}

@section main
{
    <main class="main">
        <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
            <div class="container d-flex align-items-center">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Products</a></li>
                </ol>


            </div><!-- End .container -->
        </nav><!-- End .breadcrumb-nav -->

        <div class="page-content container">
            <div class="container">
                <div class="product-details-top">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="">
                                <div class="row">
                                    <figure style="width:100%" class="product-main-image">
                                        <img id="product-zoom" src="~/Content/assets/images/artwork/@ViewBag.Artwork.artwork_image" alt="product image">

                                    </figure><!-- End .product-main-image -->


                                </div><!-- End .row -->
                            </div><!-- End .product-gallery -->
                        </div><!-- End .col-md-6 -->

                        <div class="col-md-6">
                            <div class="product-details p-5">
                                <h1 class="product-title">@ViewBag.Artwork.artwork_name</h1><!-- End .product-title -->

                                <div class="ratings-container">
                                    <div class="ratings">
                                        <div class="ratings-val" style="width: @ViewBag.Percent%;"></div><!-- End .ratings-val -->
                                    </div><!-- End .ratings -->
                                    <a class="ratings-text" href="#product-review-link" id="review-link">( @ViewBag.RevCount Reviews )</a>
                                </div><!-- End .rating-container -->

                                @if (ViewBag.Artwork.artwork_status == 2)
                                {
                                    GalleryArtEntities db = new GalleryArtEntities();
                                    int id = ViewBag.Artwork.artwork_id;
                                    var auction = db.Auctions.Where(a => a.artwork_id == id).FirstOrDefault();
                                    <div class="text-center mb-3">
                                        <span hidden id="start-date" class="start-date">@auction.auction_start_date</span>
                                        <span hidden id="end-date" class="end-date">@auction.auction_end_date</span>
                                        <div id="countdown" class="bg-dark text-center text-white countdown" style="opacity: .5;" data-start="@auction.auction_start_date" data-end="@auction.auction_end_date">
                                            <strong>

                                            </strong>
                                        </div>
                                        <div class="progress push" style="height: 10px;">
                                            <div id="progress-bar" class="progress-bar progress-bar-striped progress-bar-animated bg-danger progressbar" role="progressbar" style="width: 45.625%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>

                                    <div class="product-price mb-2">
                                        <p style="font-weight: 500; margin-right: 10px ">Reserve Price:</p>
                                        $ @auction.auction_reserve_price
                                    </div>
                                }
                                else
                                {
                                    <div class="product-price">
                                        $ @ViewBag.Artwork.artwork_price
                                    </div><!-- End .product-price -->

                                }

                                <div class="product-content">
                                    <p>@ViewBag.Artwork.artwork_description</p>
                                </div><!-- End .product-content -->

                                <div>
                                    <div class="d-flex" style="margin-bottom: 8px;">
                                        <p style="font-weight: 500; margin-right: 10px "> Artist: </p>
                                        <p> @ViewBag.Artist.artist_name</p>
                                    </div>
                                    <div class="d-flex" style="margin-bottom: 8px;">
                                        <p style="font-weight:500; margin-right:10px "> Created date: </p>
                                        <p> @ViewBag.Artwork.artwork_date</p>
                                    </div>
                                    <div class="d-flex" style="margin-bottom: 8px;">
                                        <p style="font-weight: 500; margin-right: 10px "> Dimensions: </p>
                                        <p> @ViewBag.Artwork.artwork_dimensions (cm)</p>
                                    </div>
                                </div>
                                @if (ViewBag.Artwork.artwork_status == 2)
                                {
                                    GalleryArtEntities db = new GalleryArtEntities();
                                    int id = ViewBag.Artwork.artwork_id;
                                    var auction = db.Auctions.Where(a => a.artwork_id == id).FirstOrDefault();
                                    
                                    <div>
                                        <div class="d-flex" style="margin-bottom: 8px;">
                                            <p style="font-weight: 500; margin-right: 10px "> Current bid: </p>
                                            <p id="current-bid">$@auction.auction_current_bid</p>
                                        </div>
                                    </div>
                                }




                                <div class="product-details-action d-flex" style=" margin-top: 3rem;">
                                    @if (ViewBag.Artwork.artwork_status == 2)
                                    {
                                        GalleryArtEntities db = new GalleryArtEntities();
                                        int id = ViewBag.Artwork.artwork_id;
                                        var bid = db.Auctions.Where(a => a.artwork_id == id).FirstOrDefault();

                                       
                                        <div >
                                            <div class="d-flex">
                                                <p style="font-weight: 500; margin-right: 10px; margin-top: 5px;"> Bid: </p>
                                                <input style="text-align: center; " id="bid-amount" type="number" min="@bid.auction_current_bid" max="10000000" required onkeypress="return validateNumber(e)" onpaste="return false;" oncopy="return false" />
                                                <input id="auction-id" value="@bid.auction_id" hidden />
                                                <a style="margin-left: 10px; min-width: 50px; " href="" class="btn btn-primary" id="bid-submit">Go</a>
                                            </div>
                                            <div>
                                                <p class="text-danger" style="margin-top: 10px;font-weight: 500;" id="text-error"></p>
                                            </div>
                                        </div>
                                          
                                 
                                       

                                  
                                        <a href="/" class="btn-product btn-wishlist" title="Wishlist"><span>Add to Wishlist</span></a>

                                    }
                                    else
                                    {
                                        <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>

                                        <a href="/" class="btn-product btn-wishlist" title="Wishlist"><span>Add to Wishlist</span></a>
                                    }


                                </div><!-- End .product-details-action -->

                                <div class="product-details-footer">
                                    <div class="product-cat">
                                        <span>Category:</span>
                                        <a href="#">@ViewBag.Category.category_name</a>,
                                    </div><!-- End .product-cat -->

                                    <div class="social-icons social-icons-sm">
                                        <span class="social-label">Share:</span>
                                        <a href="#" class="social-icon" title="Facebook" target="_blank"><i class="icon-facebook-f"></i></a>
                                        <a href="#" class="social-icon" title="Twitter" target="_blank"><i class="icon-twitter"></i></a>
                                        <a href="#" class="social-icon" title="Instagram" target="_blank"><i class="icon-instagram"></i></a>
                                        <a href="#" class="social-icon" title="Pinterest" target="_blank"><i class="icon-pinterest"></i></a>
                                    </div>
                                </div><!-- End .product-details-footer -->
                            </div><!-- End .product-details -->
                        </div><!-- End .col-md-6 -->
                    </div><!-- End .row -->
                </div><!-- End .product-details-top -->

                <div class="product-details-tab">
                    <ul class="nav nav-pills justify-content-center" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="product-desc-link" data-toggle="tab" href="#product-desc-tab" role="tab" aria-controls="product-desc-tab" aria-selected="true">Description</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="product-info-link" data-toggle="tab" href="#product-info-tab" role="tab" aria-controls="product-info-tab" aria-selected="false">Additional information</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="product-shipping-link" data-toggle="tab" href="#product-shipping-tab" role="tab" aria-controls="product-shipping-tab" aria-selected="false">Shipping &amp; Returns</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="product-review-link" data-toggle="tab" href="#product-review-tab" role="tab" aria-controls="product-review-tab" aria-selected="false">Reviews (@ViewBag.RevCount)</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="product-desc-tab" role="tabpanel" aria-labelledby="product-desc-link">
                            <div class="product-desc-content">
                                <h3>Product Information</h3>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna viverra non, semper suscipit, posuere a, pede. Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis. Phasellus ultrices nulla quis nibh. Quisque a lectus. Donec consectetuer ligula vulputate sem tristique cursus. </p>
                                <ul>
                                    <li>Nunc nec porttitor turpis. In eu risus enim. In vitae mollis elit. </li>
                                    <li>Vivamus finibus vel mauris ut vehicula.</li>
                                    <li>Nullam a magna porttitor, dictum risus nec, faucibus sapien.</li>
                                </ul>

                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna viverra non, semper suscipit, posuere a, pede. Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis. Phasellus ultrices nulla quis nibh. Quisque a lectus. Donec consectetuer ligula vulputate sem tristique cursus. </p>
                            </div><!-- End .product-desc-content -->
                        </div><!-- .End .tab-pane -->
                        <div class="tab-pane fade" id="product-info-tab" role="tabpanel" aria-labelledby="product-info-link">
                            <div class="product-desc-content">
                                <h3>Information</h3>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna viverra non, semper suscipit, posuere a, pede. Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. </p>

                                <h3>Fabric &amp; care</h3>
                                <ul>
                                    <li>Faux suede fabric</li>
                                    <li>Gold tone metal hoop handles.</li>
                                    <li>RI branding</li>
                                    <li>Snake print trim interior </li>
                                    <li>Adjustable cross body strap</li>
                                    <li> Height: 31cm; Width: 32cm; Depth: 12cm; Handle Drop: 61cm</li>
                                </ul>

                                <h3>Size</h3>
                                <p>one size</p>
                            </div><!-- End .product-desc-content -->
                        </div><!-- .End .tab-pane -->
                        <div class="tab-pane fade" id="product-shipping-tab" role="tabpanel" aria-labelledby="product-shipping-link">
                            <div class="product-desc-content">
                                <h3>Delivery &amp; returns</h3>
                                <p>
                                    We deliver to over 100 countries around the world. For full details of the delivery options we offer, please view our <a href="#">Delivery information</a><br>
                                    We hope you’ll love every purchase, but if you ever need to return an item you can do so within a month of receipt. For full details of how to make a return, please view our <a href="#">Returns information</a>
                                </p>
                            </div><!-- End .product-desc-content -->
                        </div><!-- .End .tab-pane -->
                        <div class="tab-pane fade" id="product-review-tab" role="tabpanel" aria-labelledby="product-review-link">
                            <div class="reviews">
                                <h3>Reviews (@ViewBag.RevCount)</h3>
                                <div class="review">
                                    <div class="row no-gutters">
                                        <div class="col-auto">
                                            <h4><a href="#">Samanta J.</a></h4>
                                            <div class="ratings-container">
                                                <div class="ratings">
                                                    <div class="ratings-val" style="width: @ViewBag.Percent%;"></div><!-- End .ratings-val -->
                                                </div><!-- End .ratings -->
                                            </div><!-- End .rating-container -->
                                            <span class="review-date">6 days ago</span>
                                        </div><!-- End .col -->
                                        <div class="col">
                                            <h4>Good, perfect size</h4>

                                            <div class="review-content">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus cum dolores assumenda asperiores facilis porro reprehenderit animi culpa atque blanditiis commodi perspiciatis doloremque, possimus, explicabo, autem fugit beatae quae voluptas!</p>
                                            </div><!-- End .review-content -->

                                            <div class="review-action">
                                                <a href="#"><i class="icon-thumbs-up"></i>Helpful (2)</a>
                                                <a href="#"><i class="icon-thumbs-down"></i>Unhelpful (0)</a>
                                            </div><!-- End .review-action -->
                                        </div><!-- End .col-auto -->
                                    </div><!-- End .row -->
                                </div><!-- End .review -->

                                <div class="review">
                                    <div class="row no-gutters">
                                        <div class="col-auto">
                                            <h4><a href="#">John Doe</a></h4>
                                            <div class="ratings-container">
                                                <div class="ratings">
                                                    <div class="ratings-val" style="width: 100%;"></div><!-- End .ratings-val -->
                                                </div><!-- End .ratings -->
                                            </div><!-- End .rating-container -->
                                            <span class="review-date">5 days ago</span>
                                        </div><!-- End .col -->
                                        <div class="col">
                                            <h4>Very good</h4>

                                            <div class="review-content">
                                                <p>Sed, molestias, tempore? Ex dolor esse iure hic veniam laborum blanditiis laudantium iste amet. Cum non voluptate eos enim, ab cumque nam, modi, quas iure illum repellendus, blanditiis perspiciatis beatae!</p>
                                            </div><!-- End .review-content -->

                                            <div class="review-action">
                                                <a href="#"><i class="icon-thumbs-up"></i>Helpful (0)</a>
                                                <a href="#"><i class="icon-thumbs-down"></i>Unhelpful (0)</a>
                                            </div><!-- End .review-action -->
                                        </div><!-- End .col-auto -->
                                    </div><!-- End .row -->
                                </div><!-- End .review -->
                            </div><!-- End .reviews -->
                        </div><!-- .End .tab-pane -->
                    </div><!-- End .tab-content -->
                </div><!-- End .product-details-tab -->

                <h2 class="title text-center mb-4">You May Also Like</h2><!-- End .title text-center -->

                <div class="owl-carousel owl-simple carousel-equal-height carousel-with-shadow owl-loaded owl-drag" data-toggle="owl" data-owl-options="{
                            &quot;nav&quot;: false,
                            &quot;dots&quot;: true,
                            &quot;margin&quot;: 20,
                            &quot;loop&quot;: false,
                            &quot;responsive&quot;: {
                                &quot;0&quot;: {
                                    &quot;items&quot;:1
                                },
                                &quot;480&quot;: {
                                    &quot;items&quot;:2
                                },
                                &quot;768&quot;: {
                                    &quot;items&quot;:3
                                },
                                &quot;992&quot;: {
                                    &quot;items&quot;:4
                                },
                                &quot;1200&quot;: {
                                    &quot;items&quot;:4,
                                    &quot;nav&quot;: true,
                                    &quot;dots&quot;: false
                                }
                            }
                        }">
                    <!-- End .product -->
                    <!-- End .product -->
                    <!-- End .product -->
                    <!-- End .product -->
                    <!-- End .product -->
                    @functions {
                        public int RatingCount(int id)
                        {
                            GalleryArtEntities db = new GalleryArtEntities();
                            var count = db.Ratings.Where(a => a.artwork_id == id).ToList().Count();
                            return count;
                        }
                        public double Star(int id)
                        {
                            GalleryArtEntities db = new GalleryArtEntities();
                            var star = db.Ratings.Where(a => a.artwork_id == id).ToList();
                            double percent = 0;
                            if (star.Count() != 0)
                            {
                                percent = (star.Average(a => a.rating_start)) / 5 * 100;
                                return percent;
                            }

                            return percent;
                        }
                    }
                    <div class="owl-stage-outer">
                        <div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 1485px;">
                            @foreach (var item in ViewBag.ArtworkList)
                            {

                                <div class="owl-item active" style="width: 277px; margin-right: 20px;">
                                    <div class="product product-7 text-center">
                                        <figure class="product-media" style=" height: 250px;">
                                            <span class="product-label label-new">New</span>
                                            <a href="/FEArtwork/ArtworkDetail/@item.artwork_id">
                                                <img src="~/Content/assets/images/artwork/@item.artwork_image" alt="Product image" class="product-image">
                                            </a>

                                            <div class="product-action-vertical">
                                                <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                                <a href="popup/quickView.html" class="btn-product-icon btn-quickview" title="Quick view"><span>Quick view</span></a>
                                            </div><!-- End .product-action-vertical -->

                                            <div class="product-action">
                                                <a href="#" class="/"><span>add to cart</span></a>
                                            </div><!-- End .product-action -->
                                        </figure><!-- End .product-media -->

                                        <div class="product-body">
                                            <div class="product-cat">
                                                <a href="#">Women</a>
                                            </div><!-- End .product-cat -->
                                            <h3 class="product-title"><a href="/FEArtwork/ArtworkDetail/@item.artwork_id"> @item.artwork_name</a></h3><!-- End .product-title -->
                                            <div class="product-price">
                                                $@item.artwork_price
                                            </div><!-- End .product-price -->
                                            <div class="ratings-container">
                                                <div class="ratings">
                                                    <div class="ratings-val" style="width: @Star(@item.artwork_id)%;"></div><!-- End .ratings-val -->
                                                </div><!-- End .ratings -->
                                                <span class="ratings-text">( @RatingCount(@item.artwork_id) Reviews )</span>
                                            </div><!-- End .rating-container -->


                                        </div><!-- End .product-body -->
                                    </div>
                                </div>
                            }

                        </div>
                    </div><div class="owl-nav"><button type="button" role="presentation" class="owl-prev disabled"><i class="icon-angle-left"></i></button><button type="button" role="presentation" class="owl-next"><i class="icon-angle-right"></i></button></div><div class="owl-dots disabled"></div>
                </div><!-- End .owl-carousel -->
            </div><!-- End .container -->
        </div><!-- End .page-content -->
    </main>
    <script src="/Content/js/auction.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        function formatDate(dateTimeString) {

            var dateParts = dateTimeString.split(" ")[0].split("-");
            var timeParts = dateTimeString.split(" ")[1].split(":");

            var year = parseInt(dateParts[0]);
            var month = parseInt(dateParts[1])
            var day = parseInt(dateParts[2]);
            var hours = parseInt(timeParts[0]);
            var minutes = parseInt(timeParts[1]);

            var date = new Date(year, month - 1, day, hours, minutes);
            return date;
        }

        function timeDiffSecond(start, end) {
            var startDate = new Date(start);
            var endDate = new Date(end);
            var timeDiff = endDate.getTime() - startDate.getTime();
            var hoursDiff = Math.floor(timeDiff / (1000 * 60 * 60));
            var minutesDiff = Math.floor((timeDiff / (1000 * 60)) % 60);
            var secondsDiff = Math.floor((timeDiff / 1000) % 60);
            var totalSecondsDiff = (hoursDiff * 3600) + (minutesDiff * 60) + secondsDiff;
            return totalSecondsDiff;
  
        }
        $(document).ready(function () {
            setInterval(function () {
                var currentDate = new Date();
                var endDate = document.getElementById('end-date').textContent;
                var startDate = document.getElementById('start-date').textContent;
                var formattedDate = formatDate(endDate);
                if (formattedDate <= currentDate) {
                    isClickable = false;
                    document.getElementById('bid-amount').disabled = true;
                    var widthPercentage = 100;
                    document.getElementById('progress-bar').style.width = widthPercentage + "%";
                } else {
                    var timeAuction = timeDiffSecond(startDate, endDate)
                    console.log(timeAuction);
                    var timeCurrent = timeDiffSecond(currentDate, endDate);
                    console.log(timeCurrent);
                    var widthPercentage = timeCurrent / timeAuction * 100;
                    document.getElementById('progress-bar').style.width = widthPercentage + "%";
                };
               
            }, 1000);
            
        });

        var isClickable = true;
        $("#bid-submit").click(function (e) {

            e.preventDefault();
            var id = document.getElementById('auction-id').value;
            var amount = document.getElementById('bid-amount').value;
            var current = document.getElementById('current-bid').textContent;
            var currentAmount = current.substring(1);
            var currentBid = parseInt(currentAmount) + 50;
            if (amount >= currentBid) {
                if (isClickable) {
                    isClickable = false;
                    $.ajax({
                        url: "/FEAuction/Create",
                        method: "Post",
                        data: {
                            id: id,
                            auction_amount: amount
                        }
                    }).done(function (res) {
                        $('.toast-body').text(res.noti);
                        $('#toast').toast('show');
                        $('#current-bid').text('$' + res.bid);
                        var min = parseInt(res.bid) + 50;
                        $('#bid-amount').attr('min', min);

                        setTimeout(function () {
                            isClickable = true;
                        }, 10000);
                    });
                }
            } else {
                var textError = document.getElementById('text-error');
                textError.textContent = "Your bid must be greater than or equal to " + currentBid + "!";
            };
        });

    </script>
}

