@* ADD ARTWORK *@
<div class="modal fade" id="createartwork_modal" tabindex="-1" role="dialog" aria-labelledby="modal-block-popin" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-popin" role="document">
        <div class="modal-content">
            <div class="block block-rounded block-transparent mb-0">
                <div class="block-header block-header-default">
                    <h3 class="block-title">CREATE ARTWORK</h3>
                    <div class="block-options">
                        <button type="button" class="btn-block-option" data-bs-dismiss="modal" aria-label="Close">
                            <i class="fa fa-fw fa-times"></i>
                        </button>
                    </div>
                </div>
                <form id="artworkform" enctype="multipart/form-data">
                    <div class="block-content fs-sm pb-3">
                        <div class="form-group mb-1">
                            <label class="form-label">Artwork <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="artwork_name">
                        </div>
                        <div class="form-group mb-1 row">
                            <div class="col-6">
                                <label class="form-label">Artist <span class="text-danger">*</span></label>
                                <select class="form-select form-control-alt bg-light" id="artist_id">
                                    @foreach (var item in ViewBag.Artists)
                                    {
                                        <option value="@item.artist_id">@item.artist_name</option>
                                    }
                                </select>
                            </div>
                            <div class="col-6">
                                <label class="form-label">Category <span class="text-danger">*</span></label>
                                <select class="form-select form-control-alt bg-light" id="category_id">
                                    @foreach (var item in ViewBag.Category)
                                    {
                                        <option value="@item.category_id">@item.category_name</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group mb-1 row">
                            <div class="col-6">
                                <label class="form-label">Price <span class="text-danger">*</span></label>
                                <input type="number" onkeydown="" class="form-control" id="artwork_price">
                            </div>
                            <div class="col-6">
                                <label class="form-label">Date <span class="text-danger">*</span></label>
                                <input type="text" class="js-flatpickr form-control" placeholder="d-m-Y" readonly="readonly" id="artwork_date">
                            </div>
                        </div>
                        <div class="form-group mb-1 row">
                            <div class="col-6">
                                <label class="form-label">Width <span class="text-danger">*</span></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="width">
                                    <span class="input-group-text">CM</span>
                                </div>
                            </div>
                            <div class="col-6">
                                <label class="form-label">Height <span class="text-danger">*</span></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="height">
                                    <span class="input-group-text">CM</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group mb-1">
                            <label class="form-label">Image <span class="text-danger">*</span></label>
                            <input type="file" class="form-control" id="artwork_image">
                        </div>
                        <div class="form-group mb-1 row">
                            <div class="col-9">
                                <label class="form-label">Description <span class="text-danger">*</span></label>
                                <textarea rows="8" class="form-control" id="artwork_description"></textarea>
                            </div>
                            <div class="col-3">
                                <label class="form-label">Preview <span class="text-danger">*</span></label>
                                <img class="img-fluid bg-secondary" id="artwork_preview" style="width: 100%; height: 200px" />
                            </div>
                            <span class="text-danger" id="artworkalert"></span>
                        </div>
                        <div class="mt-2">
                            <button type="submit" class="btn btn-alt-primary">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@* EDIT ARTWORK *@
<div class="modal fade" id="editartwork_edit" tabindex="-1" role="dialog" aria-labelledby="modal-block-popin" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-popin" role="document">
        <div class="modal-content">
            <div class="block block-rounded block-transparent mb-0">
                <div class="block-header block-header-default">
                    <h3 class="block-title">EDIT ARTWORK</h3>
                    <div class="block-options">
                        <div class="form-check form-switch">
                            <input class="form-check-input" id="artwork_status" type="checkbox">
                        </div>
                    </div>
                </div>
                <form id="editartworkform" enctype="multipart/form-data">
                    <div class="block-content fs-sm pb-3">
                        <div class="form-group mb-1">
                            <label class="form-label">Artwork <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="edit_artwork_name">
                            <input type="hidden" class="form-control" id="edit_artwork_id">
                        </div>
                        <div class="form-group mb-1 row">
                            <div class="col-6">
                                <label class="form-label">Artist <span class="text-danger">*</span></label>
                                <select class="form-select form-control-alt bg-light" id="edit_artist_id">
                                    @foreach (var item in ViewBag.Artists)
                                    {
                                        <option value="@item.artist_id">@item.artist_name</option>
                                    }
                                </select>
                            </div>
                            <div class="col-6">
                                <label class="form-label">Category <span class="text-danger">*</span></label>
                                <select class="form-select form-control-alt bg-light" id="edit_category_id">
                                    @foreach (var item in ViewBag.Category)
                                    {
                                        <option value="@item.category_id">@item.category_name</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group mb-1 row">
                            <div class="col-6">
                                <label class="form-label">Price <span class="text-danger">*</span></label>
                                <input type="number" onkeydown="" class="form-control" id="edit_artwork_price">
                            </div>
                            <div class="col-6">
                                <label class="form-label">Date <span class="text-danger">*</span></label>
                                <input type="text" class="js-flatpickr form-control" placeholder="d-m-Y" readonly="readonly" id="edit_artwork_date">
                            </div>
                        </div>
                        <div class="form-group mb-1">
                            <label class="form-label">Dimensions <span class="text-danger">*</span></label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="edit_dimensions">
                                <span class="input-group-text">CM</span>
                            </div>
                        </div>
                        <div class="form-group mb-1">
                            <label class="form-label">Image <span class="text-danger">*</span></label>
                            <input type="file" class="form-control" id="edit_artwork_image">
                        </div>
                        <div class="form-group mb-1 row">
                            <div class="col-9">
                                <label class="form-label">Description <span class="text-danger">*</span></label>
                                <textarea rows="8" class="form-control" id="edit_artwork_description"></textarea>
                            </div>
                            <div class="col-3">
                                <label class="form-label">Preview <span class="text-danger">*</span></label>
                                <img class="img-fluid bg-secondary" id="edit_artwork_preview" style="width: 100%; height: 200px" />
                            </div>
                            <span class="text-danger" id="edit_artworkalert"></span>
                        </div>
                        <div class="mt-2">
                            <button type="submit" class="btn btn-alt-primary">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- POPUP XÁC NHẬN LOGOUT -->
<div class="modal fade" id="confirm_modal" tabindex="-1" aria-labelledby="modal-block-popin" aria-modal="true" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-popin" role="document">
        <div class="modal-content">
            <div class="block block-rounded block-transparent mb-0">
                <div class="block-header block-header-default">
                    <h3 class="block-title">Confirm</h3>
                    <div class="block-options">
                        <button type="button" class="btn-block-option" data-bs-dismiss="modal" aria-label="Close">
                            <i class="fa fa-fw fa-times"></i>
                        </button>
                    </div>
                </div>
                <form id="approveForm">
                    <div class="block-content fs-sm">
                        <h6 id="contents"></h6>
                        <input id="transferid" hidden type="text" />
                        <input id="transferstatus" hidden type="text" />
                    </div>
                    <div class="block-content block-content-full text-end border-top">
                        <a class="btn btn-sm btn-secondary" data-bs-dismiss="modal">No</a>
                        <button type="submit" class="btn btn-sm btn-danger">Yes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>