
@{
    ViewBag.Title = "View";

}

@section main
{
    <main class="main">
        <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
            <div class="container">
                <h1 class="page-title">My Account<span>Shop</span></h1>
            </div><!-- End .container -->
        </div><!-- End .page-header -->
        <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
            <div class="container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Shop</a></li>
                    <li class="breadcrumb-item active" aria-current="page">My Account</li>
                </ol>
            </div><!-- End .container -->
        </nav><!-- End .breadcrumb-nav -->

        <div class="page-content">
            <div class="dashboard">
                <div class="container">
                    <div class="row">
                        <aside class="col-md-4 col-lg-3">
                            <ul class="nav nav-dashboard flex-column mb-3 mb-md-0" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="tab-dashboard-link" data-toggle="tab" href="#tab-dashboard" role="tab" aria-controls="tab-dashboard" aria-selected="true">Dashboard</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="tab-orders-link" data-toggle="tab" href="#tab-orders" role="tab" aria-controls="tab-orders" aria-selected="false">Orders</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" id="tab-address-link" data-toggle="tab" href="#tab-address" role="tab" aria-controls="tab-address" aria-selected="false">Adresses</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="tab-account-link" data-toggle="tab" href="#tab-account" role="tab" aria-controls="tab-account" aria-selected="false">Account Details</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="tab-password-link" data-toggle="tab" href="#tab-password" role="tab" aria-controls="tab-password" aria-selected="false">Reset password</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="tab-artwork-link" data-toggle="tab" href="#tab-artwork" role="tab" aria-controls="tab-artwork" aria-selected="false">Request artwork</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/FEAuth/Logout">Sign Out</a>
                                </li>
                            </ul>
                        </aside><!-- End .col-lg-3 -->

                        <div class="col-md-8 col-lg-9">
                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="tab-dashboard" role="tabpanel" aria-labelledby="tab-dashboard-link">

                                    @if (TempData["SuccessMessage"] != null)
                                    {

                                        <span class="product-label label-new p-3">@TempData["SuccessMessage"]</span>
                                    }
                                    @if (TempData["FailedMessage"] != null)
                                    {
                                        <span class="product-label label-sale p-3">@TempData["FailedMessage"]</span>
                                    }

                                    <p>

                                    </p>
                                </div><!-- .End .tab-pane -->

                                <div class="tab-pane fade" id="tab-orders" role="tabpanel" aria-labelledby="tab-orders-link">
                                    <p>No order has been made yet.</p>
                                    <a href="category.html" class="btn btn-outline-primary-2"><span>GO SHOP</span><i class="icon-long-arrow-right"></i></a>
                                </div><!-- .End .tab-pane -->


                                <div class="tab-pane fade" id="tab-address" role="tabpanel" aria-labelledby="tab-address-link">
                                    <p>The following addresses will be used on the checkout page by default.</p>

                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="card card-dashboard">
                                                <div class="card-body">
                                                    <h3 class="card-title">Billing Address</h3><!-- End .card-title -->

                                                    <p>
                                                        User Name<br>
                                                        User Company<br>
                                                        John str<br>
                                                        New York, NY 10001<br>
                                                        1-234-987-6543<br>
                                                        yourmail@mail.com<br>
                                                        <a href="#">Edit <i class="icon-edit"></i></a>
                                                    </p>
                                                </div><!-- End .card-body -->
                                            </div><!-- End .card-dashboard -->
                                        </div><!-- End .col-lg-6 -->

                                        <div class="col-lg-6">
                                            <div class="card card-dashboard">
                                                <div class="card-body">
                                                    <h3 class="card-title">Shipping Address</h3><!-- End .card-title -->

                                                    <p>
                                                        You have not set up this type of address yet.<br>
                                                        <a href="#">Edit <i class="icon-edit"></i></a>
                                                    </p>
                                                </div><!-- End .card-body -->
                                            </div><!-- End .card-dashboard -->
                                        </div><!-- End .col-lg-6 -->
                                    </div><!-- End .row -->
                                </div><!-- .End .tab-pane -->

                                <div class="tab-pane fade" id="tab-account" role="tabpanel" aria-labelledby="tab-account-link">
                                    <form action="/FEUser/UserEdit" method="Post" enctype="multipart/form-data">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <label>First Name</label>
                                                <input name="user_fname" type="text" class="form-control" required="" value="@ViewBag.User.user_fname">
                                            </div><!-- End .col-sm-6 -->

                                            <div class="col-sm-6">
                                                <label>Last Name</label>
                                                <input name="user_lname" type="text" class="form-control" required="" value="@ViewBag.User.user_lname">
                                            </div><!-- End .col-sm-6 -->
                                        </div><!-- End .row -->
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <label>Email address</label>
                                                <input name="user_email" type="email" class="form-control" required="" value="@ViewBag.User.user_email" disabled>
                                            </div>
                                            <div class="col-sm-6">
                                                <label>Phone</label>
                                                <input name="user_phone" type="text" class="form-control" required="" value="@ViewBag.User.user_phone">
                                            </div>
                                        </div>

                                        <div>
                                            <label>Current Image</label>
                                            @if (ViewBag.User.user_image != null)
                                            {
                                                <img style="width:250px" src="~/Content/assets/images/user/@ViewBag.User.user_image" />
                                            }
                                            else
                                            {
                                                <img src="~/Content/assets/images/no-image.png" />
                                            }
                                        </div>
                                        <div class="mt-2">
                                            <label>Upload Image</label>
                                            <input type="file" class="form-control" name="user_image" />
                                        </div>


                                    </form>
                                </div><!-- .End .tab-pane -->

                                <div class="tab-pane fade" id="tab-password" role="tabpanel" aria-labelledby="tab-password-link">
                                    <form id="resetPassword">

                                        <label>Current password (leave blank to leave unchanged)</label>
                                        <input type="password" class="form-control" name="current_password" id="current_password" required>

                                        <label>New password (leave blank to leave unchanged)</label>
                                        <input type="password" class="form-control" name="new_password" id="new_password" required>

                                        <label>Confirm new password</label>
                                        <input type="password" class="form-control mb-2" name="reset_password" id="reset_password" required>

                                        <button type="submit" class="btn btn-outline-primary-2">
                                            <span>SAVE CHANGES</span>
                                            <i class="icon-long-arrow-right"></i>
                                        </button>
                                    </form>
                                </div><!-- .End .tab-pane -->

                                <div class="tab-pane fade" id="tab-artwork" role="tabpanel" aria-labelledby="tab-artwork-link">
                                  
                                    <form action="/FEUser/RequestArtwork" enctype="multipart/form-data" method="Post">
                                        <div class="block-content fs-sm pb-3">
                                            <div class="form-group mb-1">
                                                <label class="form-label">Artwork <span class="text-danger">*</span></label>
                                                <input type="text" class="form-control"  name="artwork_name">
                                            </div>
                                            <div class="form-group mb-1 row">
                                                <div class="col-6">
                                                    <label class="form-label">Artist <span class="text-danger">*</span></label>
                                                    <select class="form-select form-control bg-light" name="artist_id" >
                                                        @foreach (var item in ViewBag.Artists)
                                                        {
                                                            <option value="@item.artist_id">@item.artist_name</option>
                                                        }
                                                    </select>
                                                </div>
                                                <div class="col-6">
                                                    <label class="form-label">Category <span class="text-danger">*</span></label>
                                                    <select class="form-select form-control bg-light"  name="category_id">
                                                        @foreach (var item in ViewBag.Category)
                                                        {
                                                            <option value="@item.category_id">@item.category_name</option>
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group mb-1 row">
                                                <div class="col-6">
                                                    <label class="form-label">Price <span class="text-danger">*</span></label>
                                                    <input type="number" onkeydown="" class="form-control" name="artwork_price">
                                                </div>
                                                <div class="col-6">
                                                    <label class="form-label">Date <span class="text-danger">*</span></label>
                                                    <input type="date" class="form-control"  name="artwork_date">
                                                </div>
                                            </div>
                                            <div class="form-group mb-1 row">
                                                <div class="col-6">
                                                    <label class="form-label">Width <span class="text-danger">*</span></label>
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" name="width">
                                                        <span class="input-group-text " style="height: 40px;">CM</span>
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <label class="form-label">Height <span class="text-danger">*</span></label>
                                                    <div class="input-group">
                                                        <input type="text" class="form-control"  name="height">
                                                        <span class="input-group-text" style="height: 40px;">CM</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group mb-1">
                                                <label class="form-label">Image <span class="text-danger">*</span></label>
                                                <input type="file" class="form-control"  name="artwork_image">
                                            </div>
                                            <div class="form-group mb-1 row">
                                                <div class="col-9">
                                                    <label class="form-label">Description <span class="text-danger">*</span></label>
                                                    <textarea rows="8" class="form-control" name="artwork_description"></textarea>
                                                </div>
                                                <div class="col-3">
                                                    <label class="form-label">Preview <span class="text-danger">*</span></label>
                                                    <img class="img-fluid bg-secondary" id="artwork_preview" style="width: 100%; height: 200px" />
                                                </div>
                                                <span class="text-danger" id="artworkalert"></span>
                                            </div>
                                            <div class="mt-2">
                                                <button type="submit" class="btn btn-primary">Submit</button>
                                            </div>
                                        </div>
                                    </form>
                                            
                                </div><!-- .End .tab-pane -->
                            </div>
                        </div><!-- End .col-lg-9 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .dashboard -->
        </div><!-- End .page-content -->
    </main>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $("#resetPassword").on('submit', function (e) {
            e.preventDefault();
            var form_data = $(this).serialize();
            console.log(form_data);

            $.ajax({
                url: "/FEUser/EditPassword",
                method: "Post",
                data:  form_data
            }).done(function (res) {
                $('.toast-body').text(res);
                $('#toast').toast('show');
                $('#current_password').text("");
            });
        });
     
    </script>
}


