
@{
    ViewBag.Title = "ArtSellRequest";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}

@section main
{
    <div class="container-fluid mt-3">

        <div class="block block-rounded">
            <div class="block-header block-header-default">
                <strong>ARTWORKS LIST</strong>
                <div class="block-options">
                    <button class="btn btn-alt-success" data-bs-toggle="modal" data-bs-target="#createartwork_modal">
                        ADD
                    </button>
                </div>
            </div>
            <div class="block-content pb-3">
                <div class="block-content tab-content ps-0 pe-0">
                    <table class="table table-sm table-responsive table-hover js-dataTable-responsive dataTable no-footer dtr-inline">
                        <thead>
                            <th>#</th>
                            <th>Artwork</th>
                            <th>Price</th>
                            <th>Artist</th>
                            <th>Information</th>
                            <th>Status</th>
                            <th>Action</th>
                        </thead>
                        <tbody>
                            @{
                                var i = 1;
                            }
                            @foreach (var item in ViewBag.Artwork)
                            {
                                <tr class="align-middle">
                                    <td>@i</td>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <div class="flex-shrink-0 me-2">
                                                <img src="~/Content/assets/images/artwork/@item.image" width="70" class="img-fluid" alt="Alternate Text" />
                                            </div>
                                            <div class="flex-grow-1">
                                                <strong>@item.name</strong>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        @item.price
                                    </td>
                                    <td>
                                        @item.artist
                                    </td>
                                    <td>
                                        <span class="badge bg-primary">Dimmession: @item.dimensions</span> <br />
                                        <span class="badge bg-warning">Date: @item.date</span> <br />
                                        <span class="badge bg-secondary">Category: @item.category</span> <br />
                                    </td>
                                    <td>
                                        @if (item.status == 1)
                                        {
                                            <h5 class="badge bg-success m-0">ON SALE</h5>
                                        }
                                        else if (item.status == 2)
                                        {
                                            <h5 class="badge bg-primary m-0">ON AUCTION</h5>
                                        }
                                        else if (item.status == 3)
                                        {
                                            <h5 class="badge bg-danger m-0">SOLD OUT</h5>
                                        }
                                        else if (item.status == 4)
                                        {
                                            <h5 class="badge bg-ino m-0">pending approval</h5>
                                        }
                                        else
                                        {
                                            <h5 class="badge bg-secondary m-0">INACTIVE</h5>
                                        }
                                    </td>
                                    <td>
                                        <div class="d-flex" style="max-width: 160px">
                                            <div class="flex-grow-1">
                                                <div class="btn-group me-2 mb-2 w-100" role="group">
                                                    <button type="button" class="btn btn-sm btn-alt-info" onclick="transferEditFeature('{{$item->id}}','{{$item->title}}','{{$item->description}}')" data-bs-toggle="modal" data-bs-target="#editfeature-modal" title="Sửa">
                                                        <i class="fa fa-fw fa-pencil-alt"></i>
                                                    </button>
                                                    <button type="button" class="btn btn-sm btn-alt-danger" onclick="transferDeleteFeature('{{$item->id}}')" data-bs-toggle="modal" data-bs-target="#deletefeature-modal" title="Xóa">
                                                        <i class="fa-solid fa-trash"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                i++;
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}


@section modals
{
    @Html.Partial("~/Views/Shared/AdminModals/_Artwork.cshtml")
}

@section css
{
    <link rel="stylesheet" href="/Content/adminassets/js/plugins/datatables-bs5/css/dataTables.bootstrap5.min.css">
    <link rel="stylesheet" href="/Content/adminassets/js/plugins/datatables-buttons-bs5/css/buttons.bootstrap5.min.css">
    <link rel="stylesheet" href="/Content/adminassets/js/plugins/datatables-responsive-bs5/css/responsive.bootstrap5.min.css">
    <link rel="stylesheet" href="/Content/adminassets/js/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css">
    <link rel="stylesheet" href="/Content/adminassets/js/plugins/flatpickr/flatpickr.min.css">

}

@section scripts
{
    <script src="/Content/adminassets/js/plugins/flatpickr/flatpickr.min.js"></script>
    <script src="/Content/adminassets/js/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <!-- Page JS Plugins -->
    <script src="/Content/adminassets/js/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="/Content/adminassets/js/plugins/datatables-bs5/js/dataTables.bootstrap5.min.js"></script>
    <script src="/Content/adminassets/js/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/Content/adminassets/js/plugins/datatables-responsive-bs5/js/responsive.bootstrap5.min.js"></script>
    <script src="/Content/adminassets/js/plugins/datatables-buttons/dataTables.buttons.min.js"></script>
    <script src="/Content/adminassets/js/plugins/datatables-buttons-bs5/js/buttons.bootstrap5.min.js"></script>
    <script src="/Content/adminassets/js/plugins/datatables-buttons-jszip/jszip.min.js"></script>
    <script src="/Content/adminassets/js/plugins/datatables-buttons-pdfmake/pdfmake.min.js"></script>
    <script src="/Content/adminassets/js/plugins/datatables-buttons-pdfmake/vfs_fonts.js"></script>
    <script src="/Content/adminassets/js/plugins/datatables-buttons/buttons.print.min.js"></script>
    <script src="/Content/adminassets/js/plugins/datatables-buttons/buttons.html5.min.js"></script>
    <!-- Page JS Code -->
    <script src="/Content/adminassets/js/pages/be_tables_datatables.min.js"></script>
    <script src="/Content/js/artwork.js"></script>
    <script>One.helpersOnLoad(['js-flatpickr', 'jq-datepicker']);</script>

}