@using OnlineArtGallery.Models.Entities;
@{
    ViewBag.Title = "ExhibitionList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section main
{

    @model OnlineArtGallery.Models.Entities.Exhibition

    <div class="container-fluid mt-3">
        <div class="block block-rounded">
            <div class="block-header block-header-default">
                <strong>ARTWORK REQUEST</strong>
            </div>
            <div class="block-content pb-3">
                <ul class="nav nav-tabs nav-fill nav-tabs-alt  " role="tablist">
                    <button type="button" class="btn btn-primary w-25 m-3" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="">Create New Exhibition</button>


                </ul>

                <div class="block-content tab-content ps-0 pe-0">
                    <div class="tab-pane active" id="published-posts-tab" role="tabpanel" aria-labelledby="btabs-alt-static-home-tab">
                        <table class="table table-sm table-responsive table-hover js-dataTable-responsive dataTable no-footer dtr-inline">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th> Name</th>
                                    <th>Images</th>
                                    <th>Description</th>
                                    <th>Location</th>
                                    <th>Gallery</th>
                                    <th style="width:150px">Add Gallery</th>
                                    <th>Edit</th>
                                </tr>
                            </thead>
                            <tbody>
                                @functions
                                {
                                    public List<Exhibition_Gallery> GetGallery(int id)
                                    {
                                        GalleryArtEntities db = new GalleryArtEntities();
                                        var galleryList = db.Exhibition_Gallery.Where(a => a.exhibition_id == id).ToList();
                                        return galleryList;
                                    }
                                }
                                @{
                                    var s = 0;

                                }
                                @foreach (var exhibi in ViewBag.Exhibition)
                                {
                                    s += 1;

                                    <tr>
                                        <td>@s</td>
                                        <td>@exhibi.exhibition_name</td>
                                        <td>
                                            <img width="50px" height="50px" src="~/Content/Assets/Images/exhibition/@exhibi.exhibition_image " alt="Alternate Text" />
                                        </td>

                                        <td style="font-size: 14px;">@exhibi.exhibition_description</td>
                                        <td>@exhibi.exhibition_location</td>
                                        <td>
                                            @foreach (var gal in GetGallery(exhibi.exhibition_id))
                                            {
                                                <span class="badge bg-primary">@gal.Gallery.gallery_name</span>
                                                <br/>
                                            }
                                        </td>
                                        <td class="flex">
                                            <div class="">
                                                <!-- Button trigger modal -->
                                                <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#id@(exhibi.exhibition_id)">
                                                    Add gallery
                                                </button>

                                                <!-- Modal -->
                                                <div class="modal fade" id="id@(exhibi.exhibition_id)" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog modal-dialog-centered">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="exampleModalLabel">Add gallery</h5>
                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <div style=" display:flex">
                                                                    <form method="Post" action="/BEExhibition/AddGallery">
                                                                        <div class="form-group mb-2">
                                                                            <span>Gallery</span>
                                                                            <select class="form-control" name="gallery_id">
                                                                                @foreach (var item in ViewBag.Gallery)
                                                                                {
                                                                                    <option value="@item.gallery_id">@item.gallery_name</option>
                                                                                }
                                                                            </select>
                                                                        </div>
                                                                        <input name="exhibition_id" hidden value="@exhibi.exhibition_id" />
                                                                        <div class="form-group mb-2">
                                                                            <span>Start Date</span>
                                                                            <input class="form-control" name="exhibition_gallery_start_date" type="date" />
                                                                        </div>
                                                                        <div class="form-group mb-2">
                                                                            <span>End Date</span>
                                                                            <input class="form-control" name="exhibition_gallery_end_date" type="date" />
                                                                        </div>

                                                                        <button class="btn btn-primary mt-2">Submit</button>
                                                                    </form>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                        </td>
                                        <td>
                                            @{
                                                var ar = "exampleModal" + @exhibi.exhibition_id;
                                            }
                                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#@ar" data-bs-whatever="@exhibi.exhibition_id">Edit</button>
                                            <div class="modal fade" id="@ar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog " style="max-width:800px">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">Edit Exhibition</h5>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <form method="post" action="@Url.Action("NewEdit", "BEExhibition")" enctype="multipart/form-data">
                                                                <input type="text" value="@exhibi.exhibition_id" name="exhibition_id" class="form-control" hidden>
                                                                <div class="mb-3">
                                                                    <label for="recipient-name" class="col-form-label">Name:</label>
                                                                    <input type="text" value="@exhibi.exhibition_name" name="exhibition_name" class="form-control">
                                                                </div>
                                                                <div class="mb-3">
                                                                    <label for="recipient-name" class="col-form-label">Location:</label>
                                                                    <input type="text" value="@exhibi.exhibition_location" name="exhibition_location" class="form-control">
                                                                </div>
                                                                <div class="mb-3">
                                                                    <label for="recipient-name" class="col-form-label">Image:</label>
                                                                    <img width="150px" src="~/Content/assets/images/exhibition/@exhibi.exhibition_image" alt="Alternate Text" />
                                                                    <input type="file" name="exhibition_image" value="" />
                                                                </div>
                                                                <div class="mb-3">
                                                                    <label for="message-text" class="col-form-label">Description:</label>
                                                                    <textarea class="form-control" name="exhibition_description">@exhibi.exhibition_description</textarea>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button id="btnSave" type="submit" class="btn btn-primary">Submit</button>
                                                                </div>
                                                            </form>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">New Exhibition</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="post" action="@Url.Action("NewExhibition","BEExhibition")" enctype="multipart/form-data">
                        <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">Name:</label>
                            <input type="text" name="exhibition_name" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">Img:</label>
                            <input type="file" name="exhibition_image" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">Location:</label>
                            <input type="text" name="exhibition_location" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">Description:</label>
                            <input type="text" name="exhibition_description" class="form-control">
                        </div>

                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


    @*//////*@


}


@section css
{
    <link rel="stylesheet" href="~/Content/adminassets/js/plugins/datatables-bs5/css/dataTables.bootstrap5.min.css">
    <link rel="stylesheet" href="/Content/adminassets/js/plugins/datatables-buttons-bs5/css/buttons.bootstrap5.min.css">
    <link rel="stylesheet" href="/Content/adminassets/js/plugins/datatables-responsive-bs5/css/responsive.bootstrap5.min.css">
}

@section scripts
{
    <!-- Page JS Plugins -->
    <script src="/Content/adminassets/js/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="/Content/adminassets/js/plugins/datatables-bs5/js/dataTables.bootstrap5.min.js"></script>
    <script src="/Content/adminassets/js/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/Content/adminassets/js/plugins/datatables-responsive-bs5/js/responsive.bootstrap5.min.js"></script>
    <script src="/Content/adminassets/js/plugins/datatables-buttons/dataTables.buttons.min.js"></script>
    <script src="/Content/adminassets/js/plugins/datatables-buttons-bs5/js/buttons.bootstrap5.min.js"></script>
    <script src="/Content/adminassets/js/plugins/datatables-buttons-jszip/jszip.min.js"></script>
    <script src="/Content/adminassets/js/plugins/datatables-buttons-pdfmake/pdfmake.min.js"></script>
    <script src="/Content/adminassets/js/plugins/datatables-buttons-pdfmake/vfs_fonts.js"></script>
    <script src="/Content/adminassets/js/plugins/datatables-buttons/buttons.print.min.js"></script>
    <script src="/Content/adminassets/js/plugins/datatables-buttons/buttons.html5.min.js"></script>
    <!-- Page JS Code -->
    <script src="/Content/adminassets/js/pages/be_tables_datatables.min.js"></script>
}