@{
    ViewBag.Title = "TagList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@section main
{

    @model OnlineArtGallery.Models.Entities.Tag

    <div class="container-fluid mt-3">
        <div class="block block-rounded">
            <div class="block-header block-header-default">
                <strong>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="">Create New Tag</button>

                </strong>
                @if (Session["Message"] != null)
                {
                    <div class="alert alert-success" id="successMessage">@Session["Message"]</div>
                    Session.Remove("Message");
                    <script>
                        // Set timeout for success message
                        setTimeout(function () {
                            $('#successMessage').fadeOut('slow');
                        }, 3000); // 5000 milliseconds = 5 seconds
                    </script>
                }
            </div>
            <div class="block-content pb-3">
                

                <div class="block-content tab-content ps-0 pe-0">
                    <div class="tab-pane active" id="published-posts-tab" role="tabpanel" aria-labelledby="btabs-alt-static-home-tab">
                        <table class="table table-sm table-responsive table-hover js-dataTable-responsive dataTable no-footer dtr-inline">
                            <thead>
                                <tr>
                                    <th>Number</th>
                                    <th>Name</th>
                                    <th>Img</th>
                                    <th>Create</th>
                                    <th>Edit</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{ 
                                    var s = 0;
                                }
                                @foreach (var tag in ViewBag.Tag)
                                {
                                    s += 1;
                                    <tr>
                                        <td>@s</td>
                                        <td>@tag.tag_name</td>
                                        <td>
                                            <img width="50px" height="50px" src="~/Content/Assets/Images/tag/@tag.tag_image " alt="Alternate Text" />
                                        </td>

                                        <td>@tag.tag_created_date</td>
                                        <td>
                                            @{
                                                var tager = "exampleModal" + tag.tag_id;
                                            }
                                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#@tager" data-bs-whatever="@tag.tag_id">Edit</button>
                                            <div class="modal fade" id="@tager" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">Edit Tag</h5>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <form method="post" action="@Url.Action("NewEdit","BETag")" enctype="multipart/form-data">
                                                                <input type="text" value="@tag.tag_id" name="tag_id" class="form-control" hidden>
                                                                <div class="mb-3">
                                                                    <label for="recipient-name" class="col-form-label">Name Artist:</label>
                                                                    <input type="text" value="@tag.tag_name" name="tag_name" class="form-control">
                                                                </div>

                                                                <div class="mb-3">
                                                                    <label for="recipient-name" class="col-form-label">Image Artist:</label>
                                                                    <img width="150px" src="~/Content/assets/images/tag/@tag.tag_image" alt="Alternate Text" />
                                                                    <input type="file" name="tag_image" value="" />
                                                                </div>


                                                                <div class="modal-footer">
                                                                    <button id="btnSave" type="submit" class="btn btn-primary">Submit</button>
                                                                </div>
                                                            </form>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>

                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                  
                </div>
            </div>
        </div>
    </div>
    @*form add Tag*@
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">New Tag</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="post" action="@Url.Action("NewTag","BETag")" enctype="multipart/form-data">
                        <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">Name *:</label>
                            <input type="text" name="tag_name" class="form-control" required="">
                        </div>
                        <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">Image:</label>
                            <input type="file" name="tag_image" class="form-control">
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

    @*//////*@

    
}


@section css
{
    <link rel="stylesheet" href="~/Content/adminassets/js/plugins/datatables-bs5/css/dataTables.bootstrap5.min.css">
    <link rel="stylesheet" href="/Content/adminassets/js/plugins/datatables-buttons-bs5/css/buttons.bootstrap5.min.css">
    <link rel="stylesheet" href="/Content/adminassets/js/plugins/datatables-responsive-bs5/css/responsive.bootstrap5.min.css">
}

@section scripts
{
    <!-- Page JS Plugins -->
    <script src="/Content/adminassets/js/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="/Content/adminassets/js/plugins/datatables-bs5/js/dataTables.bootstrap5.min.js"></script>
    <script src="/Content/adminassets/js/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/Content/adminassets/js/plugins/datatables-responsive-bs5/js/responsive.bootstrap5.min.js"></script>
    <script src="/Content/adminassets/js/plugins/datatables-buttons/dataTables.buttons.min.js"></script>
    <script src="/Content/adminassets/js/plugins/datatables-buttons-bs5/js/buttons.bootstrap5.min.js"></script>
    <script src="/Content/adminassets/js/plugins/datatables-buttons-jszip/jszip.min.js"></script>
    <script src="/Content/adminassets/js/plugins/datatables-buttons-pdfmake/pdfmake.min.js"></script>
    <script src="/Content/adminassets/js/plugins/datatables-buttons-pdfmake/vfs_fonts.js"></script>
    <script src="/Content/adminassets/js/plugins/datatables-buttons/buttons.print.min.js"></script>
    <script src="/Content/adminassets/js/plugins/datatables-buttons/buttons.html5.min.js"></script>
    <!-- Page JS Code -->
    <script src="/Content/adminassets/js/pages/be_tables_datatables.min.js"></script>
}