
@section main
{
    <style>
        .banner {
            position: relative;
            display: block;
        }

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #000;
            opacity: 0.35
        }

    </style>
    <div class="intro-section pt-lg-2">
        <div class="container">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="https://media.vov.vn/sites/default/files/styles/large/public/2022-01/4_64.jpg" style="max-height: 500px; object-fit: cover" alt="First slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="https://media.vov.vn/sites/default/files/styles/large/public/2022-01/6_47.jpg" style="max-height: 500px; object-fit: cover" alt="Second slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="https://toigingiuvedep.vn/wp-content/uploads/2021/02/buc-tranh-starry-night-over-the-rhone.jpg" style="max-height: 500px; object-fit: cover" alt="Third slide">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>

        <div class="icon-boxes-container bg-transparent">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-lg-3">
                        <div class="icon-box icon-box-side">
                            <span class="icon-box-icon">
                                <i class="icon-truck"></i>
                            </span>
                            <div class="icon-box-content">
                                <h3 class="icon-box-title">Payment & Delivery</h3><!-- End .icon-box-title -->
                                <p>Free shipping for orders over $50</p>
                            </div><!-- End .icon-box-content -->
                        </div><!-- End .icon-box -->
                    </div><!-- End .col-sm-6 col-lg-3 -->

                    <div class="col-sm-6 col-lg-3">
                        <div class="icon-box icon-box-side">
                            <span class="icon-box-icon">
                                <i class="icon-rotate-left"></i>
                            </span>

                            <div class="icon-box-content">
                                <h3 class="icon-box-title">Return & Refund</h3><!-- End .icon-box-title -->
                                <p>Free 100% money back guarantee</p>
                            </div><!-- End .icon-box-content -->
                        </div><!-- End .icon-box -->
                    </div><!-- End .col-sm-6 col-lg-3 -->

                    <div class="col-sm-6 col-lg-3">
                        <div class="icon-box icon-box-side">
                            <span class="icon-box-icon">
                                <i class="icon-life-ring"></i>
                            </span>

                            <div class="icon-box-content">
                                <h3 class="icon-box-title">Quality Support</h3><!-- End .icon-box-title -->
                                <p>Alway online feedback 24/7</p>
                            </div><!-- End .icon-box-content -->
                        </div><!-- End .icon-box -->
                    </div><!-- End .col-sm-6 col-lg-3 -->

                    <div class="col-sm-6 col-lg-3">
                        <div class="icon-box icon-box-side">
                            <span class="icon-box-icon">
                                <i class="icon-envelope"></i>
                            </span>

                            <div class="icon-box-content">
                                <h3 class="icon-box-title">Join Our Newsletter</h3><!-- End .icon-box-title -->
                                <p>10% off by subscribing to our newsletter</p>
                            </div><!-- End .icon-box-content -->
                        </div><!-- End .icon-box -->
                    </div><!-- End .col-sm-6 col-lg-3 -->
                </div><!-- End .row -->
            </div><!-- End .container -->
        </div><!-- End .icon-boxes-container -->
    </div><!-- End .intro-section -->

    <div class="bestseller-products bg-light pt-5 pb-5 mb-5">
        <div class="block">
            <div class="block-wrapper ">
                <div class="container">
                    <div class="heading heading-flex">
                        <div class="heading-left">
                            <h2 class="title">New Artworks</h2><!-- End .title -->
                        </div><!-- End .heading-left -->

                        <div class="heading-right">
                            <a href="/FEArtwork/ArtworkList" class="title-link">View more Artworks <i class="icon-long-arrow-right"></i></a>
                        </div><!-- End .heading-right -->
                    </div><!-- End .header-flex -->

                    <div class="owl-carousel carousel-equal-height owl-simple" data-toggle="owl"
                         data-owl-options='{
                                    "nav": false,
                                    "dots": true,
                                    "margin": 20,
                                    "loop": false,
                                    "responsive": {
                                        "0": {
                                            "items":2
                                        },
                                        "480": {
                                            "items":2
                                        },
                                        "768": {
                                            "items":3
                                        },
                                        "992": {
                                            "items":4
                                        },
                                        "1440": {
                                            "items":4
                                        }
                                    }
                                }'>
                        @foreach (var art in ViewBag.ArtworkTop)
                        {
                            <div class="product" style="box-shadow: rgba(0, 0, 0, 0.13) 0px 3.2px 7.2px, rgba(0, 0, 0, 0.11) 0px 0.6px 1.8px;">
                                <figure>
                                    <a href="/FEArtwork/ArtworkDetail/@art.artwork_id">
                                        <img style="height:240px" src="~/Content/assets/images/artwork/@art.artwork_image" alt="Product image" class="product-image">
                                    </a>
                                </figure><!-- End .product-media -->

                                <div class="product-body" style="padding-left: 20px;padding-top:8px">
                                    <div class="product-cat">
                                        by <a href="#">@art.Artist.artist_name</a>
                                    </div><!-- End .product-cat -->
                                    <h3 class="product-title"><a href="/FEArtwork/ArtworkDetail/@art.artwork_id">@art.artwork_name</a></h3><!-- End .product-title -->
                                    <div class="product-price">
                                        <span class="new-price">$@art.artwork_price</span>

                                    </div><!-- End .product-price -->

                                    <div class="product-footer">
                                        <div class="ratings-container">
                                            <div class="ratings">
                                                <div class="ratings-val star-id" data-star-id="@art.artwork_id" style="width: 0%;"></div><!-- End .ratings-val -->
                                            </div><!-- End .ratings -->
                                            <span class="ratings-text star-count" data-star-count="@art.artwork_id"> </span>
                                        </div><!-- End .rating-container -->
                                        <div class="product-action">
                                            @if (Session["UserId"] != null)
                                            {
                                                <a href="" data-cart-id="@art.artwork_id" class="btn-product btn-cart cart"><span>add to cart</span></a>
                                                <a href="" data-wishlist-id="@art.artwork_id" class="btn-product btn-wishlist wishlists"><span>Add to Wishlist</span></a>

                                            }
                                            else
                                            {
                                                <a href="#signin-modal" data-toggle="modal" class="btn-product btn-cart "><span>add to cart</span></a>
                                                <a href="#signin-modal" data-toggle="modal" class="btn-product btn-wishlist "><span>Add to Wishlist</span></a>
                                            }
                                        </div><!-- End .product-action -->
                                    </div><!-- End .product-footer -->
                                </div><!-- End .product-body -->
                            </div><!-- End .product -->
                        }
                    </div><!-- End .owl-carousel -->
                </div><!-- End .container -->
            </div><!-- End .block-wrapper -->
        </div><!-- End .block -->
    </div><!-- End .bg-light pt-4 pb-4 -->

    <div class="mb-5"></div><!-- End .mb-3 -->

    <div class="banner-group mb-2">
        <div class="container">
            <div class="heading heading-flex">
                <div class="heading-left">
                    <h2 class="title">New Artworks</h2><!-- End .title -->
                </div><!-- End .heading-left -->

                <div class="heading-right">
                    <a href="/FEArtwork/Gallery" class="title-link">View more Galleries <i class="icon-long-arrow-right"></i></a>
                </div><!-- End .heading-right -->
            </div>
            <div class="row justify-content-center">
                @foreach (var gal in ViewBag.GalleryTop)
                {
                    <div class="col-md-6 col-lg-4">
                        <div class="banner banner-overlay " style="box-shadow: rgba(0, 0, 0, 0.13) 0px 3.2px 7.2px, rgba(0, 0, 0, 0.11) 0px 0.6px 1.8px;">
                            <a href="#">
                                <img style="height:300px" src="~/Content/assets/images/galleryimg/@gal.gallery_image" alt="Banner">
                            </a>

                            <div class="banner-content">
                                <h4 class="banner-subtitle text-white"><a href="#">A Perfect Choice For Your Children</a></h4><!-- End .banner-subtitle -->
                                <h3 class="banner-title text-white"><a href="#">@gal.gallery_name</a></h3><!-- End .banner-title -->
                                <a href="/FEArtwork/GalleryDetail/@gal.gallery_id" class="btn btn-outline-white-3 banner-link">Discover Now<i class="icon-long-arrow-right"></i></a>
                            </div><!-- End .banner-content -->
                            <div class="overlay"></div>
                        </div><!-- End .banner -->
                    </div><!-- End .col-lg-4 -->
                }
            </div><!-- End .row -->
        </div><!-- End .container -->
    </div><!-- End .banner-group -->

    <div class="mb-5"></div><!-- End .mb-5 -->

    <div class="bestseller-products bg-light pt-5 pb-5">
        <div class="block">
            <div class="block-wrapper ">
                <div class="container">
                    <div class="heading heading-flex">
                        <div class="heading-left">
                            <h2 class="title">New Auction</h2><!-- End .title -->
                        </div><!-- End .heading-left -->

                        <div class="heading-right">
                            <a href="/FEArtwork/ArtworkList" class="title-link">View more Products <i class="icon-long-arrow-right"></i></a>
                        </div><!-- End .heading-right -->
                    </div><!-- End .header-flex -->
                    <div class="products">
                        <div class="row">
                            @foreach (var art in ViewBag.AuctionTop)
                            {


                                if ( art.Artwork.artwork_status == 2)
                                    {
                                        <div class="col-6 col-md-4 col-lg-4 col-xl-3 mb-2">
                                            <div class="product">
                                                <figure class="product-media m-0">
                                                    <span class="product-label label-new">New</span>
                                                    <a href="/FEArtwork/ArtworkDetail/@art.artwork_id">
                                                        <img src="~/Content/assets/images/artwork/@art.Artwork.artwork_image" style="height: 220px; object-fit:cover" alt="Product image" class="product-image">
                                                    </a>
                                                    <div class="bg-dark text-center text-white countdown" style="opacity: .5;" data-start="@art.auction_start_date" data-end="@art.auction_end_date">
                                                        <strong>

                                                        </strong>
                                                    </div>
                                                </figure>
                                                <div class="product-body">
                                                    <div class="product-cat">
                                                        <a href="#">@art.Artwork.Category.category_name</a>
                                                    </div><!-- End .product-cat -->
                                                    <h3 class="product-title mb-1"><a href="/FEArtwork/ArtworkDetail/@art.artwork_id"><strong>@art.Artwork.artwork_name</strong></a></h3><!-- End .product-title -->
                                                    <div class="product-price mb-1">
                                                        Reserve Price:&nbsp <span class="badge bg-success text-white" style="font-size: 15px">$@art.auction_reserve_price</span>
                                                    </div><!-- End .product-price -->
                                                    <div class="product-price">
                                                        Current Bid:&nbsp <span class="badge bg-danger text-white setup_current_@art.auction_id" style="font-size: 15px">$@art.auction_current_bid</span>
                                                    </div>
                                                    <div class="form-group mt-1 row align-items-center">
                                                        <label class="form-label col-sm-3 m-0">Your bid: </label>
                                                        <div class="input-group col-sm-9">
                                                            <span class="input-group-text " style="height: 40px;">$</span>
                                                            <input class="form-control form-control-sm bid_price_@art.auction_id" onkeypress="return validateNumber(event)" onpaste="return false;" oncopy="return false" />
                                                        </div>
                                                    </div>
                                                    <div class="form-submit">
                                                        @if (Session["UserId"] == null)
                                                        {
                                                            <a href="#signin-modal" data-toggle="modal" class="btn btn-primary w-100">Quick bid</a>
                                                        }
                                                        else
                                                        {
                                                            <button class="btn btn-primary w-100 bid" data-currentprice="@art.auction_reserve_price" data-auctionid="@art.auction_id">
                                                                Quick bid
                                                                <span class="" role="status" aria-hidden="true"></span>

                                                            </button>
                                                        }

                                                    </div>
                                                </div><!-- End .product-body -->
                                            </div><!-- End .product -->
                                        </div>

                                    }
                            }
                        </div><!-- End .row -->

                       
                    </div>
                </div><!-- End .container -->
            </div><!-- End .block-wrapper -->
        </div><!-- End .block -->
    </div><!-- End .bg-light pt-4 pb-4 -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            var stars = document.querySelectorAll('.star-id');
            stars.forEach(function (star) {
                var id = star.getAttribute('data-star-id');
                $.ajax({
                    url: '/FEArtwork/Star',
                    method: 'POST',
                    data: { id: id },
                    success: function (response) {
                        var starWidth = response + "%";
                        star.style.width = starWidth;
                    }, error: function (error) {
                        console.log(error);
                    }
                });
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            var ratings = document.querySelectorAll('.star-count');
            ratings.forEach(function (rating) {
                var id = rating.getAttribute('data-star-count');
                $.ajax({
                    url: '/FEArtwork/RatingCount',
                    method: 'POST',
                    data: { id: id },
                    success: function (response) {
                        rating.textContent = "(" + response + " Reviews)";

                    }, error: function (error) {
                        console.log(error);
                    }
                });
            });
        });
    </script>
}